.home-query-result-card-wrapper {
    cursor: pointer;

    .home-query-result-card-panel {
        height: 100%;

        .home-query-result-card-panel-body {
            height: 100%;
            padding: 0px;

            .home-query-result-card-thumbnail {
                width: 100%;
                background: transparent;
            }

            .home-query-result-card-panel-content {
                height: 100%;
                padding: 15px;

                .home-query-result-card-title {

                }
     
                .home-query-result-card-description {

                }

                .home-query-result-card-description.collapsed {
                    max-height: 300px;
                    overflow: hidden;
                    background-image: linear-gradient(to bottom, transparent, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
                }

                .home-query-result-card-category-list {

                }
            }
 
        }
    }
}
