.home-query-result-card-wrapper {

    .home-query-result-card-panel {

        .home-query-result-card-panel-body {
            padding: 0px;

            .home-query-result-card-thumbnail {
                width: 100%;
                background: transparent;
            }

            .home-query-result-card-panel-content {
                padding: 15px;

                .home-query-result-card-title {

                }
     
                .home-query-result-card-description {

                }
     
                .home-query-result-card-category-list {

                }
            }
 
        }
    }
}
