yv-explore-page-main-card {
  #explore-page-main-card-wrapper {
    #main-card-panel {
      @extend .panel;
      @extend .panel-default;
      #main-card-panel-heading {
        @extend .panel-heading;
        height: 35px;
        #main-card-panel-title {
          @extend .panel-title;
          @extend .pull-right;
        }
      }
      #main-card-panel-body {
        @extend .panel-body;
        @extend .row;
        padding-bottom: 0px;
        #page-title-wrapper {
          @extend .col-xs-12;
          @extend .row;
          #page-title {
            @extend .col-xs-9;
          }
          #page-external-links {
            @extend .col-xs-3;
            margin-top: 20px;
            padding-right: 0px;
            #page-google-link {
              float: right;
              text-decoration: none;
              #google-isotype {
                height: 35px;
                margin: 5px;
              }
            }
            #page-wikipedia-link {
              float: right;
              text-decoration: none;
              #wikipedia-isotype {
                height: 35px;
                margin: 5px;
              }
            }
          }
        }
        #page-title-separator {
          @extend .col-xs-12;
        }
        #page-images-carrousel-wrapper {
          @extend .col-xs-12;
          margin-bottom: 10px;
          #page-images-carrousel {
            height: 300px;
            img {
              height: 300px;
              margin: auto;
            }
          }
        }
        #page-description-wrapper {
          @extend .col-xs-12;
          overflow: overlay;
          #page-description {
            max-height: 300px;
            margin-bottom: 10px;
          }
        }
      }
      #main-card-panel-footer {
        @extend .panel-footer;
        #page-categories {
          overflow: hidden;
          .page-category {
            margin: 2px;
            word-wrap: normal;
            display: inline-block;
          }
        }
      }
    }
  }
}
