<div id="period-selection-card-wrapper">
  <div id="period-selector-card-panel">
    <div id="period-selector-card-panel-heading" data-toggle="tooltip" data-placement="left" title="Period selection">
      <h3 id="period-selector-card-panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h3>
    </div>
    <div id="period-selector-card-panel-body">
      <div id="date-pickers">
        <div id="start-date-picker-wrapper">
          <div id="start-date-display">
            <span>Period Start: </span>
            <input type="text" class="form-control" uib-datepicker-popup="{{vm.datePickerFormat}}" ng-model="vm.datePickerStartDate" is-open="false" min-date="vm.datePickerMinDate" max-date="vm.datePickerMaxDate" datepicker-options="vm.datePickerOptions" close-text="Close" alt-input-formats="vm.datePickerAltInputFormats" />
          </div>
          <div id="start-date-picker">
            <uib-datepicker ng-model="vm.datePickerStartDate" min-date="vm.datePickerMinDate" max-date="vm.datePickerMaxDate" show-weeks="false" class="well well-sm"></uib-datepicker>
          </div>
        </div>
        <div id="end-date-picker-wrapper">
          <div id="end-date-display">
            <span>Period End: </span>
            <input type="text" class="form-control" uib-datepicker-popup="{{vm.datePickerFormat}}" ng-model="vm.datePickerEndDate" is-open="false" min-date="vm.datePickerMinDate" max-date="vm.datePickerMaxDate" datepicker-options="vm.datePickerOptions" close-text="Close" alt-input-formats="vm.datePickerAltInputFormats" />
          </div>
          <div id="end-date-picker">
            <uib-datepicker ng-model="vm.datePickerEndDate" min-date="vm.datePickerMinDate" max-date="vm.datePickerMaxDate" show-weeks="false" class="well well-sm"></uib-datepicker>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
