yv-home-footer {
    
    #home-footer-content {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0%, -50%);

        p {
            height: 100%;
            margin: 0px;
            color: #31708F;
            
            img {
                height: 20px;
                margin: 5px;
            }
        }
    }
}
