<div id="home-search-box-wrapper">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="input-group">
        <input id="home-search-box-input" type="text" class="form-control" ng-model="vm.query.value" ng-maxlength="100" ng-change="vm.onSearchBoxChange()" ng-model-options="{debounce:vm.searchBoxInputDebounce}" placeholder="Search for a Wikipedia page..." autocomplete="off" autofocus>
        <div class="input-group-btn">
          <button id="home-search-box-button" type="submit" class="btn btn-primary" ng-click="vm.onSearchBoxSubmit()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
