yv-explore-page-navbar {
  @extend .row;
  margin: 0px;
  #explore-page-navbar-wrapper {
    .navbar {
      border-radius: 0px;
      .navbar-collapse.collapsing {
        transition: none;
      }
      .navbar-brand {
        min-width: 45px;
        #isotype {
          height: 100%;
        }
      }
      .form-group {
        #explore-page-search-box-input {
          border-radius: $border-radius-base 0px 0px $border-radius-base;
          min-width: 250px;
          height: 35px;
          padding: 10px;
        }
        #explore-page-search-box-button {
          height: 35px;
          margin-right: -1px;
        }
      }
    }
  }
}
