/**
 *  Yavi main font.
 */

@font-face {
    font-family: 'YaviFont';
    src: url('../fonts/libel-suit.regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/libel-suit.regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/libel-suit.regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/libel-suit.regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/libel-suit.regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
