/**
 *  Global styles.
 */

html {
    height: 100%;
    
    body {
        height: 100%;
        background-image: url('../assets/images/background.png');
        overflow-y: scroll;
        
        #view-container {
            height: 100%;
        }
    }
}

.btn {
    border-radius: 0px;
}
