/**
 *  Custom mixins.
 */

@mixin fixed-position($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
    -webkit-transform: translate(-$left, -$top); // Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4
        -ms-transform: translate(-$left, -$top); // IE 9
            transform: translate(-$left, -$top); // IE 10, Fx 16+, Op 12.1+
}

@mixin centered {
    @include fixed-position(50%, 50%);
}
