@import '../bootstrap';
@import '../mixins';

/**
 *  Variables.
 */

$header-row-height: 50px;
$footer-row-height: 30px;
$content-row-height: calc(100% - 50px - 30px); // 100% - $header-height - $footer-height;

/**
 *  Styles.
 */

#explore-container {
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    #explore-header-row {
        height: $header-row-height;
        padding: 0px;
        margin: 0px;

        #explore-header {
            height: 100%;
            padding: 0px;
            margin: 0px;
            z-index: 1;
        }
    }
    
    #explore-content-row {
        height: $content-row-height;
        padding: 0px;
        margin: 0px;
        overflow-y: scroll;

        #explore-content {
            min-height: 100%;
            background-color: white;

            .page-carousel-wrapper {
            }

            .page-bubble-chart-wrapper {
            }

            .page-feature-chart-wrapper {
            }

            .page-signal-chart-wrapper {
            }
        }
    }
    
    #explore-footer-row {
        height: $footer-row-height;
        padding: 0px;
        margin: 0px;

        #explore-footer {
            height: 100%;
            padding: 0px;
            margin: 0px;
        }
    }
}
