{
    "extends": "eslint:recommended",
    "rules":{
        "camelcase": 1,
        "comma-dangle": 2,
        "no-console": "off",
        "no-unused-vars": ["warn", { "argsIgnorePattern": "^\\$" }],
        "quotes": 0
    },
    "globals":{
        "_": true,
        "angular": true,
        "d3": true,
        "moment": true,
        "zzz-comma-dangle": true
    }
}
