# Local Resources
local/
*.sublime-project
*.sublime-workspace

# Coverage directory
coverage/

# Gulp intermediate storage
.tmp/

# Build output
dist/

# Dependency directories
node_modules/
bower_components/

# Sass cache
.sass-cache/
